body{

    /* background-color: #ecf0f1; */
    background: radial-gradient(black 3px, transparent 4px), radial-gradient(black 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    color: #000000;
font-family: 'Open Sans', sans-serif;
}


/*Menu Animacion*/
*{

margin: 0;
padding: 0;

}
header{
width: 100%;

}
nav{
margin: 10px auto;
width: 100%;
max-width:1250px;
display: flex;
justify-content: center;

}
nav ul {
list-style: none;
}
nav > ul{
display: table;
overflow: hidden;
width: 100%;
background:#000;
position: relative;
left: 5px;
 right:5px;
}



nav > ul li{
display: table-cell;

}

/*SubMenu*/
nav > ul > li:hover >ul {
display: block;
}


nav > ul > li > ul{
display: none;

}

nav > ul li a{
color: white;
display: block;
line-height: 30px;
padding: 20px;
position: relative;
text-align: center;
text-decoration: none;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}


nav > ul> li > ul > li a:hover{
background: #5da5a2;

}
nav > ul> li > ul > ul> li a:hover{
background: #f25754;

}


nav > ul > li > a span{
background: #174459;
display: block;
height: 100%;
width: 100%;
left:0;
position: absolute;
top:-55px;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}



nav > ul > li > a span.icon{
display: block;
line-height:50px;

}
nav >ul > li > a:hover > span{
top:1px;
}

nav ul li a span.primero{
background-color: #37a4d9;
}

nav ul li a span.segundo{
background: #5da5a2;

}

nav ul li a span.tercero{
background: #f25754;

}

nav ul li a span.cuarto{
background: #174459;

}

nav ul li a span.quinto{
background: #37a4d9;

}


/*Barra Lateral*/
*{
margin: 0;
padding:0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

}
.social{
position: fixed;
left: 0;
top: 180px;
z-index: 2000;

}
.social ul{
list-style: none;

}
.social ul li a {
display: inline-block;
color: white;
background-color: #0000;
padding: 10px 15px;
text-decoration: none;
-webkit-box-sizing: all 2s ease;
-moz-box-sizing: all 1s ease;
box-sizing: all 1s ease;
}
.social ul li .icon-facebook{
background:#3b5998;
}
.social ul li .icon-twitter{
background: cadetblue;
}
.social ul li .icon-instagram{
background:#CACFD2 ;
}
.social ul li .icon-youtube{
background:white;
}
.social ul li a:hover{
padding: 10px 30px;
background: #000;

}

p{
text-align: justify;
padding: 10px 30px;


}

/* Contenedir interno */

.contenedor{
width: 90%;
max-width: 1320px;
margin: 20px auto;
display: grid;
grid-gap: 8px;
grid-template-columns: repeat(3 ,1fr);
grid-template-rows: repeat(4 ,auto);
}
.contenedor > div ,
.contenedor .sidebar,
.contenedor .contenido,
.contenedor .footer{
background:#504f4e;
padding: 10px;
border-radius: 6px;

}


.contenedor .contenido{
grid-column: span 3;

}
.contenedor .sidebar{
grid-column: 1/4;
display: flex;
background: #FFEAD9;
text-align: center;
align-items: center;
justify-content: center;
 grid-row: 1/4;
}
.contenedor .footer{
    background: #12203e;
    color: #ffff;
    grid-column: span 3 ;

}

a {
	text-decoration: none;
}



/* ------------------------- */
/* HEADER */
/* ------------------------- */

.busqueda {
	padding: 40px 0;
}


.busqueda form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.busqueda .barra-busqueda {
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	text-align: center;
	font-size: 16px;
}

.busqueda .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.busqueda .categorias a {
	color: #ffffff;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}

.busqueda .categorias a.activo {
	color: #000;
}

/* ------------------------- */
/* Grid */
/* ------------------------- */

.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
	opacity: 1;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(20% - 20px);
}

.grid .item-contenido {
	position: relative;
}

.grid .item img {
	object-fit: cover;
	width: 100%;
	cursor: pointer;
	vertical-align: top;
}

/* ------------------------- */
/* Overlay */
/* ------------------------- */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay.activo {
	display: flex;
}

.overlay img {
	max-width: 100%;
}

.overlay .descripcion {
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
}

.contenedor-img {
	position: relative;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}

@media screen and (max-width: 700px) {
	.grid .item {
		width: calc(50% - 20px);
	}
	header .barra-busqueda {
		width: 100%;
	}
}