
@font-face {
    font-family: 'Dancing Script';
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.ttf);
  }
  
body{

        /* background-color: #ecf0f1; */
        background: radial-gradient(black 3px, transparent 4px), radial-gradient(black 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
        background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
        background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
        color: #000000;
    font-family: 'Open Sans', sans-serif;
}


/*Menu Animacion*/
*{
    margin: 0;
    padding: 0;
    
}
header{
    width: 100%;

}
nav{
    margin: 10px auto;
    width: 100%;
    max-width:1250px;
    display: flex;
    justify-content: center;

}
nav ul {
    list-style: none;
}
 nav > ul{
    display: table;
    overflow: hidden;
    width: 100%;
    background:#000;
    position: relative;
    left: 5px;
     right:5px;
}



nav > ul li{
    display: table-cell;

}

/*SubMenu*/
nav > ul > li:hover >ul {
 display: block;
}


nav > ul > li > ul{
    display: none;

}

nav > ul li a{
    color: white;
    display: block;
    line-height: 30px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .3s ease;
   -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav > ul> li > ul > li a:hover{
    background: #5da5a2;
}
nav > ul> li > ul > ul> li a:hover{
    background: #f25754;

}


nav > ul > li > a span{
background: #174459;
display: block;
height: 100%;
width: 100%;
left:0;
position: absolute;
top:-55px;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}

nav > ul > li > a span.icon{
display: block;
line-height:50px;

}
nav >ul > li > a:hover > span{
top:1px;
}

nav ul li a span.primero{
    background-color: #37a4d9;
}

nav ul li a span.segundo{
    background: #5da5a2;
    
}

nav ul li a span.tercero{
    background: #f25754;
    
}

nav ul li a span.cuarto{
    background: #174459;
    
}

nav ul li a span.quinto{
    background: #37a4d9;
    
}


/*Barra Lateral*/
*{
    margin: 0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.social{
    position: fixed;
    left: 0;
    top: 180px;
    z-index: 2000;

}
.social ul{
    list-style: none;

}
.social ul li a {
    display: inline-block;
    color: white;
    background-color: #0000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-box-sizing: all 2s ease;
    -moz-box-sizing: all 1s ease;
    box-sizing: all 1s ease;
}
.social ul li .icon-facebook{
    background:#3b5998;
}
.social ul li .icon-twitter{
    background: cadetblue;
}
.social ul li .icon-instagram{
    background:#CACFD2 ;
}
.social ul li .icon-youtube{
    background:white;
}
.social ul li a:hover{
    padding: 10px 30px;
    background: #000;

}

p{
    text-align: justify;
    padding: 10px 30px;


}

/* Contenedir interno */

.contenedor{
    width: 90%;
    max-width: 1320px;
    margin: 20px auto;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(4 ,auto);
}
.contenedor,
.contenedor .sidebar,
.contenedor .contenido{
   background: rgb(250, 241, 241);
    padding: 10px;
    border-radius: 6px;

}
footer{
    width: 100%;
    background: #202020;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

.contenedor .contenido{
grid-column: span 3;

}
.contenedor .sidebar{
    grid-column: 1/4;
    display: flex;
    background: #FFEAD9;
    text-align: center;
    align-items: center;
    justify-content: center;
     grid-row: 1/4;
}


/*Banner */
.banner{
    margin-top: auto;
	position: relative;
	width: 100%;
	height: calc(100vh - 50px);
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;
	transition: all .1s linear;
	background-image: url('../imagenes/img1.jpg');
	animation: banner 10s infinite linear;
}

.banner-content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #FFF;
	background-color: rgba(0, 22, 40, .6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.banner-content {
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
	font-size: 40px;
	text-align: center;
}
.banner-content a{
	text-decoration: none;
	color: #FFF;
	padding: 9px 20px;
    border: 1px solid #FFF;
    font-family: 'Dancing Script', cursive;

    font-size: 30px;
    transition: all .3s ease-in-out;
    border-radius: 20px;
}
.banner-content a:hover{
	background-color: #fff;
	color:#FF6568;
}
@keyframes banner{
	0%{
        background-image: url('../imagenes/img1.jpg');
        
	}
	25%{
		background-image: url('../imagenes/img1.jpg');
	}


	26%{
		background-image: url('../imagenes/img2.jpg');
	}
	50%{
		background-image: url('../imagenes/img2.jpg');
	}


	51%{
		background-image: url('../imagenes/img3.jpg');
	}
	75%{
		background-image: url('../imagenes/img3.jpg');
	}
	

	76%{
        background-image: url('../imagenes/img7.jpg');
      
	}
	100%{
		background-image: url('../imagenes/img7.jpg');
	}

}



/*target seleccionables*/
.title{
    text-align: center;
    margin-top: 60px;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.container-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.box{
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 20px;
    border: 2px solid #eeeeee;
    border-radius: 14px;
    text-align: center;
    margin-top: 100px;
    position: relative;

}

.box img{
    border-radius: 20px;
    width: 60%;
    transition: all 400ms;
}

.box h2{
    font-size: 18px;
    margin-top: 10px;
    transition: all 500ms;
}

.box .container-p{
    width: 100%;
    height: 170px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0px 8px;
    border-radius: 0px 0px 14px 14px;
}

.box p{
    font-size: 14px;
    color: #000;
    opacity: 0;
    transform: translateY(150px);
    transition: all 600ms;
}

.box .check{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #f5f5f5;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background: white;
}

.box .check i{
    margin-top: 6px;
    display: none;
    color: white
    
}
a{
    text-decoration: none;
    
}

/*Efecto Hover*/


.box:hover{
    background: #FF6B82;
}

.box:hover img{
    transform: translateY(-90px);
}

.box:hover h2{
    transform: translateY(-90px);
}

.box:hover .container-p p{
    transform: translateY(0px);
    opacity: 1;
}


/*Clases que estaremos utilizando en JavaScript*/

.box-selected{
    border-color: red;
    transition: all 600ms;
}

.icon-check{
    display: block !important;
}

.check-selected{
    background: red !important;
    border: none;
    transition: all 600ms;
}


input[type="radio"]{
    display: none;
}

.container-category{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container-category label{
    padding: 6px 40px;
    margin: 10px;
    font-size: 20px;
    background: #e2e2e2;
    border-radius: 5px;
    cursor: pointer;
}

.container-category label:hover{
    opacity: 0.8;
}
/* ------------------------- */
/* ColumnsNosotros */
/* ------------------------- */
.container-flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	 align-items: center;
    }
    .group-title{
        font-family: 'Dancing Script', cursive;
    }
.our-team{
	text-align: center;
	margin-bottom: 20px;
}
.our-team .container-flex{
	display: flex;
    justify-content: center;
	background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    align-items: flex-start;
    box-shadow: 0px  0px 10px  rgba(0, 0, 0, 0.3);
  

}
.column-33{
    height: 33%;
    padding: 10px;
    width: 33%;
}
.our-team-title{
    font-family: 'Dancing Script', cursive;
	color: #de423a;
	 font-weight: bold;
	 font-size: 1.8em;
	 margin-bottom: 10px;

}

.our-team-img{
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 20px;
}
.our-team-txt{
	padding: 10px;
    text-align: justify;
    flex-wrap: nowrap;
    align-items: center;
    
}

/*==========Slider de color tendencia*/
/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.conten-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.conten-titulo-controles h3 {
	color: black;
	font-size: 30px;
	font-family: cursive;
}

.conten-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.conten-titulo-controles .indicadores button:hover,
.conten-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .conten-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .conten-principal .flecha-izquierda,
.peliculas-recomendadas .conten-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .conten-principal .flecha-izquierda:hover,
.peliculas-recomendadas .conten-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .conten-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .conten-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.pelicula img{
     max-width: 500px;
	width: 100%;
}
.peliculas-recomendadas .conten-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .conten-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .conten-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .conten-carousel .carousel .pelicula.hover {
	transform: scale(1.1);
	transform-origin: center;
}

.peliculas-recomendadas .conten-carousel .carousel .pelicula img {
	width: 100%;
	object-fit: cover;
	vertical-align: top;
}
.carousel .pelicula p{
	 display: flex;
	 flex-wrap: wrap;
	 align-items: center;
	 text-align: left;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {

	header .conten {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .conten-carousel {
		overflow: visible;
	}

	.peliculas-recomendadas .conten-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
	}
}

/*======PopUp Boton*/
.btn-open-popup{
    position: absolute;
    top: 18.5%;
    right: 2%;
    transform: translate(-50%, -50%);
    color: #D90C43;
    display: block;
    background: white;
    padding: 7px 5px;
    border-radius: 20px;
    text-decoration: none;
}
.btn-open-popup:hover{
    background: #F97A6B;
}


.container-all{
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms;
}


.container-all:target{
    background: rgba(0,0,0,0.8);
    visibility: visible;
    opacity: 1;
}

.container-all:target .popup{
    top: 40%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
}


.popup{
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: relative;
    display: flex;
    background: white;
    visibility: hidden;
    top: -80%;
    left: -80%;
    transform: rotate(90deg) translate(-150%, 230%);
    transition: all 600ms;
}


.img{
    width: 40%;
    background-image: url(../image/img4.jpg);
    background-size: cover;
    background-position: center;
}

.container-text{
    width: 60%;
    padding: 50px;
    overflow-y: auto;
}


.container-text h1{
    font-size: 30px;
}

.container-text p{
    margin-top: 20px;
    font-size: 16px;
}


.btn-close-popup{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 20px;
    background: black;
    color: white;
    border-radius: 50%;
    line-height: 10px;
}

@media screen and (max-width: 900px){
    .popup{
        flex-direction: column;
        height: 100%;
        max-height: 800px;
    }
    
    .img{
        width: 100%;
        height: 40%;
    }
    
    .container-text{
        width: 100%;
        height: 60%;
        padding: 80px;
    }
    .btn-open-popup{
        top: 20.5%;
        right: 2%;
       
    }
    
}

@media screen and (max-width: 500px){
    .container-text{
        padding: 20px;
    }
    
    .container-text h1{
        font-size: 20px;
    }
    
    .container-text p{
        font-size: 12px;
    }

    .btn-open-popup{
        justify-content:center;
        top: 5%;
        right: 2%;
      
    }
  

}

/*Iconos de las redes sociales*/

.container-redes{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-redes a{
    margin-top: 4px;
}

.container-redes img{
    width: 60px;
    padding: 4px;
    background: rgba(0,0,0,0.0);
    cursor: pointer;
    border-radius: 100%;
    transition: all 300ms;
}

.container-redes a:hover img{
    background: rgba(0,0,0,0.10);
}

















